.App {
    padding: 0 !important;
    margin: 0;
}

.mainContent {
    padding: 0 0 55px 0;
    height: 100vh;
    overflow-y: scroll;
    color: #727270;
}

.App {
    background-color: #F7F6F1;
}