.customer-info {
    width: 95%;
    height: 5rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-info .logo-info {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: auto 0;
    background: linear-gradient(-45deg, #4481eb, rgb(21, 175, 226));
}

.customer-info .customer-name-info {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.customer-info h4 {
    text-align: center;
    margin-top: auto;
    vertical-align: bottom;
    font-weight: 500;
    letter-spacing: 2px;
}

.customer-info .facture-paiement-info {
    font-size: 14px;
    font-weight: 500;
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
}

.customer-info .facture-info {
    color: #34daa3;
}

.customer-info .paiement-info {
    color: #c62828;
}

.customer-info .balance-info {
    margin: auto 0;
    font-size: 20px;
    font-weight: 600;
}

.customer-info .negatif-info {
    color: #c62828;
}

.customer-info .positif-info {
    color: #34daa3;
}