.header-customers,
.header-transactions {
    padding-top: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.table-customers {
    margin-top: 2rem;
    font-size: 14px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px lightgray;
    background-color: #fff;
    text-align: left;
    overflow-x: scroll;

}

thead {
    box-shadow: 0 5px 10px lightgray;
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

td {
    padding: 1rem 1rem;
}

td.nav-link {
    padding: 0 !important;
}

.nav-link.positif {
    color: #34daa3 !important;
}

.nav-link.negatif {
    color: #ffcdd2 !important;
}

.btn-erase {
    border-radius: 5px;
    background-color: #ffcdd2;
    padding: 0.4rem 1rem;
    border: none;
    color: #c62828;
}

tr:nth-child(even) {
    background: #f4f6fb;
}