.header-customers,
.header-transactions {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    background: linear-gradient(-45deg, #4481eb, rgb(21, 175, 226));
    border-bottom-left-radius: 40%;
    /* border-bottom-right-radius: 25px; */
}

/* .header-customers::before,
.header-transactions::before {
    content: '';
    height: 3000px;
    width: 3000px;
    background: #4481eb;
    position: absolute;
    border-radius: 50%;
    bottom: 85%;
    left: -350%;
} */

.btn-erase {
    border-radius: 5px;
    background-color: #ffcdd2;
    padding: 0.4rem 1rem;
    border: none;
    color: #c62828;
}

.customers-customerInfo {
    margin: .5rem 0;
}

.header-customers ButtonHeader {
    position: absolute;
    bottom: 0;
}