/* .Sidebar { */
/* background: rgba(255, 255, 255, 0.2); */
/* background-color: #FFFFFF;
    height: 98%;
    width: 160px;
    position: fixed;
    padding-top: 3em;
    top: 8px;
    left: 8px;
    overflow-x: hidden;
    z-index: 5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #727270;
    display: block;
    transition: ease-in-out 0.2s;
}

.nav:hover {
    color: black;
    transform: scale(1.08);
}

a.current {
    background: #F7F6F1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: -10px;
    color: #EA583F;
    transform: translate3d(0vw, 0, 0);
} */