.transaction-item-component {
    position: relative;
    overflow: hidden;
    transition: all .8s ease-in-out;
}

.transaction-item {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 5px;
    position: relative;
    padding: 1em;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.transaction-item::after {
    content: '';
    width: 70%;
    height: 1px;
    background: lightgray;
    position: absolute;
    bottom: 0;
    left: 15%;
}

.trans-item-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-150%);
    animation: entrance-transactionItem-left 1s .2s forwards;
}

.trans-item-icon.positive {
    color: var(--color-primary);
    background: var(--color-primary-light);
}

.trans-item-icon.negative {
    color: var(--color-secondary);
    background: var(--color-secondary-light);
}

.transaction-item h4 {
    font-size: 18px;
}

.transaction-item p {
    color: #5B5C70;
    margin: 0;
}

.transaction-item .amount-negative {
    color: var(--color-secondary);
}

.trans-item-info {
    transform: translateY(-150%);
    animation: entrance-transactionItem-top 1s .3s forwards;
}

.trans-item-info,
.trans-item-date-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trans-item-date-amount {
    text-align: right;
    transform: translateX(150%);
    animation: entrance-transactionItem-right 1s .4s forwards
}

.transaction-erase-bloc {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-secondary);
    transform: translateX(50%);
    transition: all .3s ease-in-out;
}

.transaction-item-component.erase-mode .transaction-erase-bloc {
    transform: translateX(0);
}

.transaction-item-component.erase-mode .transaction-item {
    transform: translateX(-50px);
}

/* .transaction-item-component.erased {
    animation: erased-animation .5s forwards;
} */

.transaction-item-component.erased::before {
    content: 'Effacée';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: -100%;
    color: #fff;
    font-size: 25px;
    padding: 20px;
    border-radius: 15px;
    z-index: 2;
    background: var(--color-secondary);
    animation: erased-animation 1s forwards;
}

@keyframes erased-animation {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes entrance-transactionItem-left {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes entrance-transactionItem-top {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes entrance-transactionItem-right {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}